anyio==3.6.2
asgiref==3.4.1
click==8.0.4
configparser==5.2.0
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
Deprecated==1.2.13
fastapi==0.70.1
h11==0.13.0
idna==3.4
immutables==0.19
importlib-metadata==4.8.3
isodate==0.6.1
nest-asyncio==1.5.4
pika==1.2.0
psycopg2==2.9.5
pydantic==1.8.2
PyJWT==2.3.0
redis==4.0.2
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing-extensions==4.1.1
uvicorn==0.15.0
wrapt==1.14.1
zipp==3.6.0
